#services {
  display: grid;
  justify-content: center;
}

#header-servicess {
  border: solid 1px green;
  text-align: center;
  width: auto;
  margin-top: 72px;
  margin-left: 163px;
  margin-right: 163px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 8px;
    color: var(--gray-100);
  }
}


#services {
  /* border: solid 1px blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  /* justify-items: center; */
  margin-top: 32px;
  margin-bottom: 144px;
  max-width: 1040px;

  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    object-fit: cover;
  }
}