#contact {
  /* border: solid 1px blue; */
  display: grid;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#header-contact {
  border: solid 1px green;
  text-align: center;
  max-width: 420px;
  margin-top: 128px;
  margin-bottom: 48px;

  h2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .subtitle {
    color: var(--purple);
  }
}

#links-contact {
  /* border: solid 1px orange; */
  display: grid;
  max-width: 400px;
  max-height: 320px;
  gap: 16px;
  margin-top: 48px;
  margin-bottom: 200px;  

  .socialbutton {
    /* border: solid 1.5px black; */
    border-radius: 8px;
    width: 400px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 16px;
    background-color: var(--gray-400);    

    img:nth-child(3) {
      margin-left: auto;
    }    
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      border: solid 1.5px var(--blue);
      border-radius: 8px;
  
      #linkedin {
        content: url(../assets/linkedin-hover.svg);
      }
      
      #instagram {
        content: url(../assets/instagram-hover.svg);
      }

      #github {
        content: url(../assets/github-hover.svg);
      } 
      
      #e-mail {
        content: url(../assets/e-mail-hover.svg);
      }  
    }

    
  }

}





