#contact {
  /* border: solid 1px blue; */
  display: grid;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#header-contact {
  border: solid 1px green;
  text-align: center;
  max-width: 420px;
  margin-top: 128px;
  margin-bottom: 48px;

  h2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .subtitle {
    color: var(--purple);
  }
}

#links-contact {
  border: solid 1px orange;
  display: grid;
  max-width: 400px;
  gap: 16px;
  margin-top: 48px;
  margin-bottom: 200px;

  .socialbutton {
    border: solid 1px red;
    
    background-color: var(--gray-400);
    
  }
}



