#services {
  border: solid 1px red;
  display: grid;
  justify-content: center;
}

#header-services {
  border: solid 1px green;
  text-align: center;
  width: auto;
  margin-top: 72px;
  margin-left: 163px;
  margin-right: 163px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 8px;
    color: var(--gray-100);
  }
}

#grid-services {
  border: solid 1px blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 56px;
  margin-bottom: 120px;
  max-width: 888px;

  .card-services {
    border: solid 1px orange;
    padding: 20px;
  }

  img {
    width: 48px;
    height: 48px;    
    border-radius: 8px;
    object-fit: cover;
  }
}
h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}