#Projects {
  display: grid;
  justify-content: center;
}

#header-projects {
  /* border: solid 1px green; */
  text-align: center;
  width: auto;
  margin-top: 72px;
  margin-left: 163px;
  margin-right: 163px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 8px;
    color: var(--gray-100);
  }
}

#grid {
  /* border: solid 1px blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;  
  margin-top: 32px;
  margin-bottom: 144px;
  max-width: 1040px;

  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    object-fit: cover;
  }

  figure {
    height: 280px;
    background-color: var(--gray-400);
    border-radius: 12px;
    padding: 12px 12px 0;
  
    figcaption {
      margin-top: 8px;
      text-align: left;
  
      h3 {
        font: var(--h3);
        margin-top: 20px;
        margin-bottom: 8px;
      }
  
      p {
        font: var(--text-sm);
        color: var(--gray-200);
      }      
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      outline: solid 1.5px var(--gray-300);
      border-radius: 8px;
    }
  }
}

